/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.GoTalk-BgAndColor{
    background: #e1fff7;
    color: #48c4b0;
}

.Go-bg{
    background: #e1fff7;
}

.Go-font{
    color: #48c4b0;
}

.contactButton{
    background: linear-gradient(to right , #28af9d, #19665e);
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.like{
    color:red;
}

.givemargin{
    margin: 2%;
}

.useFont{
    font-family: 'Roboto', sans-serif;
}

.language-card-list{
    margin-top: 2%;
}

.language-card{
    height: 4.5rem;
    font-size: 1.4rem;
    padding-top: 1%;
}


.teacherFull{
    margin-top: 20rem;
}

.teacherBody{
    margin-top: 20rem;
}

.linkremove{
    text-decoration-color: "none",
}


