// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.GoTalk-BgAndColor{
    background: #e1fff7;
    color: #48c4b0;
}

.Go-bg{
    background: #e1fff7;
}

.Go-font{
    color: #48c4b0;
}

.contactButton{
    background: linear-gradient(to right , #28af9d, #19665e);
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.like{
    color:red;
}

.givemargin{
    margin: 2%;
}

.useFont{
    font-family: 'Roboto', sans-serif;
}

.language-card-list{
    margin-top: 2%;
}

.language-card{
    height: 4.5rem;
    font-size: 1.4rem;
    padding-top: 1%;
}


.teacherFull{
    margin-top: 20rem;
}

.teacherBody{
    margin-top: 20rem;
}

.linkremove{
    text-decoration-color: "none",
}


