.form__field--input{

    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 2%;

}

.form__actions--submit{
    width: 40%;
    background-color:#28af9d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form__h1{
    color:#28af9d;
}

.form__title{
    color:#28af9d;
    font-size: 0.9rem;
}

.form{
    margin-left:30rem;
    margin-top: 5rem;
}
  