.form__field--input{

    width: 40rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 2%;

}

.form__actions--submit{
    width: 40rem;
    background-color:#28af9d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form__h1{
    color:#28af9d;
}

.form__title{
    color:#28af9d;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .form{
    margin: 8vw auto auto auto;  }
}

@media (min-width: 600px) {
    .form{
        margin: 8vw auto auto 9vw;  }
}